.Button{
    padding: 5px 10px;
    background-color: skyblue;
    color: white;
    font-weight: 700;
    text-decoration: underline;
    border:none;
    border-radius: 8px;
    font-size:x-large;
    box-shadow: 20px 20 px 25px grey;
    margin-bottom: 15px;
    margin-right:10px;
}
.Button:hover{
    box-shadow: 10px 10px;
}

.Button img{
    max-width: 32px;
    height: 32px;
}